@page
@model RazorPagesEmployeeCars.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Edit Employee";
}
<h1>Edit Employee</h1>

<form method="post">
    <input type="hidden" asp-for="Employee.Id" />
    <div class="form-group">
        <label asp-for="Employee.FirstName"></label>
        <input asp-for="Employee.FirstName" class="form-control" />
        <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.LastName"></label>
        <input asp-for="Employee.LastName" class="form-control" />
        <span asp-validation-for="Employee.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.Email"></label>
        <input asp-for="Employee.Email" class="form-control" />
        <span asp-validation-for="Employee.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employee.PhoneNumber"></label>
        <input asp-for="Employee.PhoneNumber" class="form-control" />
        <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
